@charset "utf-8";

html{background:currentColor;}

/* Header */
.header{padding:0 20px;font-size:1.8rem;text-align:center;line-height:42px;color:green;}

/* End header */

/* Nav */
.nav{padding:0 20px;line-height:30px;}
.nav > ul > li{margin-bottom:6px;text-align:center;border:1px solid  rgba(26,168,156,.5);border-radius:5px;}
/* End nav */

.content{}

/* Footer */
.footer{}

/* End footer */