@charset "utf-8";

.flex-box{display:-webkit-box;display:-webkit-flex;display:flex;}
.flex-pack-c{-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.flex-pack-j{-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.flex-align-c{-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;flex:1;}

.header{padding:20px;font-size:1.4rem;}

.nav{padding:0 20px;line-height:42px;}
/* “爱恨原则”（LoVe/HAte），即四种伪类的首字母:LVHA。正确的顺序：a:link、a:visited、a:hover、a:active . */
.nav a:link,a:visited,a:hover,a:active{color:#666;}